*
!Makefile
!*.c
!.gitignore*
!Makefile
!*.c
!.gitignore*
!Makefile
!*.c
!.gitignore*
!Makefile
!*.c
!.gitignore*
!Makefile
!*.c
!.gitignore*
!Makefile
!*.c
!.gitignore*
!Makefile
!*.c
!.gitignore*
!Makefile
!*.c
!.gitignore
